assets/images/logo_wordmark.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/2000/svg">
  <xs:element name="svg">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="defs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="linearGradient">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="stop" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="offset" use="required" />
                        <xs:attribute name="style" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" use="required" />
                  <xs:attribute name="x1" use="required" />
                  <xs:attribute name="y1" use="required" />
                  <xs:attribute name="x2" use="required" />
                  <xs:attribute name="y2" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="radialGradient">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="stop" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="offset" use="required" />
                        <xs:attribute name="style" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="filter">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="feGaussianBlur">
                      <xs:complexType>
                        <xs:attribute name="in" use="required" />
                        <xs:attribute name="stdDeviation" type="xs:integer" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="feOffset">
                      <xs:complexType>
                        <xs:attribute name="dx" type="xs:integer" use="required" />
                        <xs:attribute name="dy" type="xs:integer" use="required" />
                        <xs:attribute name="result" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="feFlood">
                      <xs:complexType>
                        <xs:attribute name="flood-color" use="required" />
                        <xs:attribute name="flood-opacity" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="feComposite">
                      <xs:complexType>
                        <xs:attribute name="in2" use="required" />
                        <xs:attribute name="operator" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="feMerge">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="feMergeNode" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="in" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" use="required" />
                  <xs:attribute name="x" use="required" />
                  <xs:attribute name="y" use="required" />
                  <xs:attribute name="width" use="required" />
                  <xs:attribute name="height" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="g">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="g">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="path" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="d" use="required" />
                        <xs:attribute name="fill" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="circle">
                      <xs:complexType>
                        <xs:attribute name="cx" type="xs:integer" use="required" />
                        <xs:attribute name="cy" type="xs:integer" use="required" />
                        <xs:attribute name="r" type="xs:integer" use="required" />
                        <xs:attribute name="fill" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="transform" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="text">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tspan" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="fill" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="x" type="xs:integer" use="required" />
                  <xs:attribute name="y" type="xs:integer" use="required" />
                  <xs:attribute name="font-family" use="required" />
                  <xs:attribute name="font-size" type="xs:integer" use="required" />
                  <xs:attribute name="font-weight" type="xs:integer" use="required" />
                  <xs:attribute name="letter-spacing" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
